body{
    background-color: #428bca;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
table{
    border: 1px solid white;
    text-align: center;
    border-collapse: collapse;
    background-color: #8d5524;
}
table td{
    border: 1px solid white;
    padding: 10px;
}
.user-section{
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    background-color: #8d5524;
    text-align: center top;
    border: 1px solid black;
    border-radius: 6px;
    -webkit-box-shadow: -1px 11px 31px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 11px 31px -9px rgba(0,0,0,0.75);
    box-shadow: -1px 11px 31px -9px rgba(0,0,0,0.75);
}
nav{
    padding-bottom: 25px;
}
.chat-window{
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 300px;
}
.chat-window div{
    resize: none;
    width: 99%;
    height: 200px;
    border: 1px solid black;
    background-color: white;
    overflow-y: scroll;
    word-wrap: break-word;
}
.chat-window div p{
  color: black;
  margin: 1px;
  font-size: 14px;
  cursor: default;
  padding: 5px 10px 0;
}
input[name="msg-window"]{
  border: 1px solid black;
  width: 204px;
  height: 40px;
  margin-top: 10px;
}
input[name="msg-send"]{
  padding: 12px 25px;
  background-color:white;
  border: 1px solid black;
  color: black;
}
input[name="msg-send"]:hover{
  background-color: #2169a8;
  color: white;
  border: 1px solid white;
  transition: border 0.3s,color 0.3s, background-color 0.3s;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}
