body{
   background-color: #0278ae; 
   font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}
.login-form{
    margin: auto;
    text-align: center;
    width: 400px;
    background-color: #222831;
    height: 400px;
    -webkit-box-shadow: -1px 6px 15px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 6px 15px -2px rgba(0,0,0,0.75);
    box-shadow: -1px 6px 15px -2px rgba(0,0,0,0.75);
}
form>h2{
    padding: 20px;
    font-size: 17px;
    text-transform: uppercase;
    color: whitesmoke;
}
.textfield{
    padding: 5px;
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 8px;
    display: block;
    margin: 10px auto;
    width: 80%;
}

.login-submit{
    text-transform: uppercase;
    padding: 10px;
    background-color: transparent;
    border: 1px solid gray;
    width: 80%;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
}
.login-submit:hover{
    background-color: #0278ae;
    transition: background-color 0.4s;
    -webkit-box-shadow: -1px 6px 15px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 6px 15px -2px rgba(0,0,0,0.75);
    box-shadow: -1px 6px 15px -2px rgba(0,0,0,0.75);
    transition: box-shadow 0.4s;
}